.todo {
}

.dragging {
    outline: 1px solid #7e6fff;
    transform: rotate(2deg);
}

.todo-list {
    width: 272px;
}

.dropzone {
    height: 100%;
}

.drop-placeholder {
    border: 2px dashed #7e6fff;
}

.todo-container {
}
